<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.open.mappers.RegisterMapper">

    <!--返回参数设置-->
    <resultMap id="resMap" type="com.open.javabean.User">
        <id column="id" property="id" />
        <result column="tel" property="tel" />
        <result column="name" property="name" />
        <result column="password" property="password" />
    </resultMap>

    <!--注册用户-->
    <insert id="registerUser" parameterType="com.open.javabean.User">
        insert into user(tel,name,password ) values (#{tel },#{name },#{password })
    </insert>

    <!--查询用户-->
    <select id="seachByTelAndName" resultMap="resMap">
        select * from user u where u .tel = #{tel } or u .name = #{name }
    </select>

    <!--查询所有用户-->
    <select id="getAll" resultMap="resMap">
        select * from user
    </select>

</mapper>