<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--第一步-->
    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- shiro 的核心安全接口 -->
        <property name="securityManager" ref="securityManager" />
        <!-- 要求登录时的链接 -->
        <property name="loginUrl" value="/login.jsp" />
        <!-- 登陆成功后要跳转的连接 -->
        <property name="successUrl" value="/index.jsp" />
        <!-- 权限不足，跳转路径  -->
        <property name="unauthorizedUrl" value="/unauthorized.jsp" />
        <!-- shiro 连接约束配置 -->
        <!-- URL控制规则  路径=规则 -->
        <property name="filterChainDefinitions">

            <value>
                /css/** = anon
                /demo/** = anon
                /images/** = anon
                /js/** = anon
                /json/** = anon
                /login.jsp** = anon
                /index.jsp** = authc
                <!--anon 可匿名访问 authc 认证后才可以访问-->
                <!--除了上述配置 其他资源必须需要身份认证 (登陆)-->
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 在安全管理器，应该注入 Realm 连接安全数据  -->
        <property name="realm" ref="shiroDbRealm"/>
        <!--二级缓存-->
        <property name="cacheManager" ref="shiroEhcacheManager" />
    </bean>

    <!--第二步-->
    <!-- realm创建 -->
    <bean id="shiroDbRealm" class="com.open.shiro.shiroDbRealm"/>

    <!--第三步-->
    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:shiroCache/ehcache-shiro.xml"/>
    </bean>
</beans>